**/Lib/**
**/logs/**
**/node_modules/**
**/venv/**
**/migrations/**
**/instance/**
**/**/node_modules/**
**/.env.local
**/.env.development.local
**/.env.production.local
**/.env.test.local
**/.env
**/.env.development
**/.env.production
**/.env.test
frontend/.next/**
frontend/.next/**/*
**.pyc
**.egg-info/**
**.egg-info/**/*
**.dist-info/**
**.dist-info/**/*
**.whl
**.whl/**
**.whl/**/*
**.whl/**/**/*
**.whl/**/**/**/*
**.whl/**/**/**/**/*
**.whl/**/**/**/**/**/*
**.whl/**/**/**/**/**/**/*
**.whl/**/**/**/**/**/**/**/*
**.next/**
**/myenv/**
**/__pycache__/**
**/var/**
**/share/**
/backend/app/static/*
***.pyc
/backend/migrations_bk/***
/docs/tmp/***
backend/.env